<div class="container">
  <h1>Submit your news here:</h1>
<%= form_for(@news) do |f| %>
  <% if @news.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@news.errors.count, "error") %> prohibited this news from being saved:</h2>

      <ul>
      <% @news.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_area :title, placeholder: "Required" ,:id=> "textarea2"%>
  </div>
  <div class="field">
    <%= f.label "News source (optional)" %><br>
    <%= f.text_area :url,:id=>"textarea3" %>
  </div>
  <div class="actions">
    <% if logged_in? %>
      <%= f.submit "Submit" %>
    <% else %>
      <%= link_to 'Login', login_path %>
    <% end %>
  </div>
<% end %>
</div>

